<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - MicroBlog</title>
        {% else %}
        <title>Super Duper MicroBlog</title>
        {% endif %}
    </head>
    <body>
        <div>MicroBlog: 
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for msg in messages %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>